<div class="breadcrumb mb-0">
	<div class="list">
		<a href="<%= search_url %>" class="item">Search</a>
	</div>
</div>
<div class="main__content-left">
	<h6 class="course-sidebar-heading"><span class="navigation_ic">Danh mục</span></h6>
	<div class="course-sidebar mt-4">
	</div>
</div>
<div class="main__content-center">
	<h4 class="mt-5">Kết quả tìm kiếm</h4>
	<% if @@chapter.present? %>
	<div class="mt-3">
		<div class="content-list clearfix">
			<% @chapter.each do |chapter| %>
				<a href="">
					<div class="content-list-item topic rounded">
						<div class="content-list-item-body p-3">
							<h5 class="title"><%= chapter.try(:highlight).try(:title) ? chapter.highlight.title[0].html_safe : chapter.title %></h5>
							<p class="mt-3"><%= chapter.try(:highlight).try(:description) ? chapter.highlight.description[0].html_safe : chapter.description %></p>
						</div>
					</div>
				</a>
			<% end %>
		</div>
	</div>
	<% else %>
	<p class="mt-3">Không có kết quả nào phù hợp với từ khoá của bạn.</p>
	<% end %>
</div>